
body {
    margin: 0;
    font-family: Arial, sans-serif;
}
.main {
    background-color: #003580;
}
.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px;
    color: white;
}

.logo {
    font-size: 32px;
    font-weight: bold;
    font-style: oblique;
}

.top-right {
    display: flex;
    align-items: center;
    gap: 18px;
}

.property-link {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.btn-outline {
    background: white;
    color: #003580;
    border: none;
    padding: 8px 14px;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
}

.navbar {
    padding: 10px 60px 20px;
}

.nav-links {
    display: flex;
    gap: 15px;
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.nav-links li a {
    display: flex;
    align-items: center;
    color: white;
    padding: 10px 16px;
    border-radius: 25px;
    text-decoration: none;
}

.nav-links li a i {
    margin-right: 8px;
}

.nav-links li a:hover {
    background-color: #1a4fa3;
}
.nav-links .active a {
    border: 1px solid white;
}


.hero {
    padding: 40px 60px 60px;
    color: white;
}

.hero h1 {
    font-size: 52px;
    font-weight: 800;
    margin-bottom: 10px;
}

.hero p {
    font-size: 22px;
    opacity: 0.95;
}

.search-wrapper {
    padding: 0 60px 40px;
}

.search-box {
    background-color: #febb02;
    padding: 6px;
    border-radius: 10px;

    display: flex;
    align-items: center;
    gap: 6px;
}

.search-item {
    background: white;
    flex: 1;

    display: flex;
    align-items: center;
    gap: 10px;

    padding: 18px;
    border-radius: 6px;
    font-size: 16px;
    color: #333;
}

.search-item i {
    font-size: 18px;
    color: #666;
}

.search-btn {
    background: #0071c2;
    color: white;

    border: none;
    padding: 0 32px;
    height: 58px;

    font-size: 20px;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
}

.search-extra {
    color:aliceblue;
    margin-top: 12px;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
}

.why-section {
    padding: 60px;
}

.why-section h2 {
    font-size: 32px;
    margin-bottom: 30px;
    color: black;
}

.why-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.why-card {
    border: 1px solid #e6e6e6;
    border-radius: 12px;
    padding: 20px;
    background:hsl(0, 0%, 95%);
}

.why-card img {
    width: 50px;
    margin-bottom: 15px;
}

.why-card h3 {
    font-size: 18px;
    margin-bottom: 8px;
}

.why-card p {
    font-size: 14px;
    color: #555;
}

.offers-section {
    padding: 30px;
    margin-top: 10px;
    margin-left: 20px;
}

.offers-section h2 {
    font-size: 28px;
}

.offers-sub {
    margin: 10px 0 25px;
    color: #555;
}

.offers-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
}

.offer-card {
    border-radius: 16px;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.offer-card.light {
    background: #f5f5f5;
}

.offer-card.light img {
    width: 120px;
    border-radius: 12px;
}

.offer-card.dark {
    background-image: url("https://images.unsplash.com/photo-1500530855697-b586d89ba3ee");
    background-size: cover;
    background-position: center;
    color: white;
}

.offer-btn {
    margin-top: 15px;
    padding: 10px 16px;
    border: none;
    background: #0071c2;
    color: white;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
}

.promo-section {
    padding: 40px 60px;
    background: white;
}

.promo-card {
    border-radius: 16px;
    overflow: hidden;     
}

.promo-card img {
    width: 100%;
    height: 260px;
    object-fit: cover;    
    display: block;
}

.property-section {
    padding: 60px;
    background: white;
}

.property-section h2 {
    font-size: 28px;
    margin-bottom: 25px;
}

.property-cards {
    display: flex;
    gap: 20px;
}
.property-card {
    flex: 1;
    cursor: pointer;
}

.property-card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 16px;
}

.property-card p {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 600;
}

.trending-section {
    padding: 60px;
    background: white;
}

.trending-section h2 {
    font-size: 28px;
}

.trending-sub {
    color: #555;
    margin: 8px 0 25px;
}

.trending-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
}

.trend-card {
    position: relative;
    border-radius: 16px;
    overflow: hidden;
    height: 220px;
    grid-column: span 2;
    cursor: pointer;
}

.trend-card.large {
    grid-column: span 3;
    height: 260px;
}


.trend-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.trend-text {
    position: absolute;
    bottom: 16px;
    left: 16px;
    color: white;
    z-index: 1;
}

.trend-text h3 {
    font-size: 20px;
    font-weight: bold;
}

.explore-section {
    padding: 60px;
    background: white;
}

.explore-section h2 {
    font-size: 28px;
}

.explore-sub {
    color: #555;
    margin: 8px 0 25px;
}


.explore-cards {
    display: flex;
    gap: 20px;     
    padding-bottom: 10px;
}


.explore-card {
    min-width: 200px;
    cursor: pointer;
}


.explore-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 16px;
}


.explore-card h3 {
    margin: 10px 0 4px;
    font-size: 18px;
}

.explore-card span {
    font-size: 14px;
    color: #666;
}

.trip-planner {
    padding: 60px;
    background: #fff;
}

.trip-planner h2 {
    font-size: 28px;
}

.trip-sub {
    color: #555;
    margin: 8px 0 25px;
}

.trip-tabs {
    display: flex;
    gap: 14px;
    margin-bottom: 30px;
    overflow-x: auto;
}

.tab {
    padding: 10px 18px;
    border-radius: 25px;
    border: 1px solid #ccc;
    background: white;
    cursor: pointer;
    font-size: 14px;
    white-space: nowrap;
}

.tab.active {
    border-color: #006ce4;
    color: #006ce4;
    background: #f0f6ff;
}

.trip-cards {
    display: flex;
    gap: 20px;
    
}

.trip-cards::-webkit-scrollbar {
    display: none;
}

.trip-card {
    min-width: 200px;
    cursor: pointer;
}

.trip-card img {
    width: 100%;
    height: 140px;
    object-fit: cover;
    border-radius: 14px;
}

.trip-card h3 {
    margin: 10px 0 4px;
    font-size: 18px;
}

.trip-card span {
    font-size: 14px;
    color: #666;
}

.deals-section {
    padding: 60px;
    background: #fff;
}

.deals-section h2 {
    font-size: 28px;
}

.deal-sub {
    color: #555;
    margin-bottom: 25px;
}

.deal-cards {
    display: flex;
    gap: 20px;
    overflow-x: auto;
}

.deal-cards::-webkit-scrollbar {
    display: none;
}

.deal-card {
    min-width: 260px;
    background: #fff;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    padding: 12px;
}

.deal-img {
    position: relative;
}

.deal-img img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 14px;
}

.heart {
    position: absolute;
    top: 10px;
    right: 10px;
    background: white;
    border-radius: 50%;
    padding: 6px 8px;
    cursor: pointer;
}

.badge {
    display: inline-block;
    font-size: 12px;
    padding: 4px 8px;
    border-radius: 6px;
    margin: 10px 0;
}

.genius {
    background: #003580;
    color: white;
}

.deal {
    background: #008009;
    color: white;
}

.deal-card h3 {
    font-size: 16px;
    margin: 6px 0;
}

.location {
    color: #666;
    font-size: 14px;
}

.rating {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 8px 0;
}

.score {
    background: #003580;
    color: white;
    padding: 4px 6px;
    border-radius: 6px;
    font-size: 14px;
}

.price {
    margin-top: 10px;
    text-align: right;
}

.old {
    text-decoration: line-through;
    color: #888;
    margin-right: 6px;
}

.new {
    font-size: 18px;
    font-weight: bold;
}

.popular-section {
    padding: 60px;
    background: #fff;
}

.popular-section h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.popular-tabs {
    display: flex;
    gap: 16px;
    margin-bottom: 30px;
}

.pop-tab {
    padding: 10px 18px;
    border-radius: 25px;
    border: 1px solid #ccc;
    background: white;
    cursor: pointer;
    font-size: 14px;
}

.pop-tab.active {
    border-color: #006ce4;
    color: #006ce4;
    background: #f0f6ff;
}

.popular-grid {
    grid-template-columns: repeat(5, 1fr);
    display: grid;
    gap: 30px;
}

.popular-grid ul {
    list-style: none;
    padding: 0;
}

.popular-grid li {
    margin-bottom: 14px;
    font-size: 14px;
    cursor: pointer;
}

.popular-grid li:hover {
    text-decoration: underline;
}

.show-more {
    display: inline-block;
    margin-top: 25px;
    color: #006ce4;
    font-weight: 500;
    text-decoration: none;
}


.footer {
    background: #f5f5f5;
    padding: 50px 60px;
    font-size: 14px;
    color: #333;
}

.footer-links {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 40px;
}

.footer-links h4 {
    font-size: 16px;
    margin-bottom: 12px;
}

.footer-links a {
    display: block;
    text-decoration: none;
    color: #333;
    margin-bottom: 10px;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-currency {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 30px 0;
    font-weight: bold;
}

.footer hr {
    border: none;
    border-top: 1px solid #ddd;
    margin: 30px 0;
}

.footer-bottom {
    text-align: center;
    color: #666;
    font-size: 13px;
}

.footer-bottom p {
    margin-bottom: 8px;
}

.brands {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 25px;
    font-weight: bold;
    color: #003580;
}
